@charset "utf-8";

body, html {
	padding: 0px;
	margin: 0px;
	background-color: #ffffff; 
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

li {
    list-style-type: none;
	padding: 0;
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
}

.error-message {
	font-weight: bold;
	margin: 50px 0;
	color: red;
	width: 100%;
	text-align: center;
}
.succes-message {
	font-weight: bold;
	margin: 50px 0;
	color: green;
	width: 100%;
	text-align: center;
}

/* --- HEADER --- */

div.header {
	display: flex;
	flex-flow: row nowrap;
	background-color: #ffffff;/*#1e272e*/
	color: #171d22;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
	z-index: 10000;
	width: 100%;
}

div.logo {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 0;
}

div.logo a {
	color: #171d22;
	text-decoration: none;
}

div.logo img {
	width: auto;
	height: 90px;
	margin: 10px;
}

nav.navbar {
	display: flex;
	flex-flow: row wrap;
	flex-grow: 1;
	justify-content: flex-end;
	align-content: center;
	margin: 0 10px 0 0;
	padding: 0;
	text-transform: uppercase;
}

li.menu-button {
	margin-right: 10px;
}

a.menu-link {
	color: #171d22;
	padding: 7px 10px;	
	transition: 0.08s;
}

a.menu-link:hover {
	color: #171d22;
	/*box-shadow: -2px 0px 0px 0px #2e86de;*/
	border-bottom: solid 2px #2e86de;
	text-decoration: none;
}

ul.menu {
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.menu-button {
	position: relative;
}

/* -------- MENU DEROULANT -------- */

a.deroulant-link {
	color: #171d22;
	padding: 15px 5px;	
	transition: 0.05s;
	margin-bottom: 15px; 
}

a.deroulant-link:hover {
	color: #171d22;
	text-decoration: none;
}

nav > ul li:hover .submenu {
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	z-index: 1000;
}

ul.submenu {
	display: none;
	width: 225px;
	height: 35px;
	line-height: 35px;
}

ul.submenu li {
	background-color: rgba(0, 0, 0, 0.5);
	height: 35px;
	line-height: 35px;
	width: 100%;
	height: 100%;
}

ul.submenu li:hover {
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: -2px 0px 0px 0px #2e86de;
}

a.submenu-link {
	padding: 7px 10px;
	color: #FFFFFF;
	transition: 0.1s;
}

a.submenu-link:hover {
	text-decoration: none;
	color: #FFFFFF;
}

/* ------ MENU ADMIN ------- */

li.deroulant {
	padding: 0 10px 7px 10px;
}

li.deroulant a {
	text-decoration: none;
}

ul.admin-submenu {	
	display: none;
	width: 225px;
	color: #FFFFFF;
}

nav > ul li:hover .admin-submenu {
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	z-index: 1000;
	margin-top: 0;
}

ul.admin-submenu a {
	color: #FFFFFF;
	padding: 0px 10px;
	transition: 0.1s;
}

ul.admin-submenu li {
	background-color: rgba(0, 0, 0, 0.5);
	height: 30px;
	line-height: 30px;
	width: 100%;
	height: 100%;
	margin: 0;
}

ul.admin-submenu li:hover {
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: -2px 0px 0px 0px #2e86de;
}

a.admin-submenu-link:hover {
	text-decoration: none;
	color: #FFFFFF;
}

/* ----- BOUTON DE CONNEXION/DECONNEXION ----- */

a.connexion-link {
	text-decoration: none;
	border-radius: 5px;
	background-color: #2e86de; 
	color: #FFFFFF;
	padding: 6px 10px;
	margin: 0 50px 0 10px;
	transition: 0.2s;
}

a.connexion-link:hover {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #54a0ff;
}

/* ----- MENU ADMIN ----- */

li.menu-admin a {
	color: #171d22;
	text-decoration: none;
	margin: 0px 15px;
}

