@charset "utf-8";

body, html {
	padding: 0px;
	margin: 0px;
	background-color: #ffffff; 
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
}

a, a:hover{
	text-decoration: none;
}

.container-fluid {
	padding: 0px;
}

.error-message {
	font-weight: bold;
	margin: 50px 0;
	color: red;
	width: 100%;
	text-align: center;
}
.succes-message {
	font-weight: bold;
	margin: 50px 0;
	color: green;
	width: 100%;
	text-align: center;
}

/* Category Ads */

#ads {
    margin: 30px 0 30px 0;
   
}

#ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #0099FF;
        text-align: center;
        border-radius: 30px 30px 30px 30px; 
        color: #000;
        padding: 5px 10px;
        font-size: 14px;

    }

#ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #ff4444;
        border-radius: 50%;
        text-align: center;
        color: #fff;      
        font-size: 14px;      
        width: 50px;
        height: 50px;    
        padding: 15px 0 0 0;
}


#ads .card-detail-badge {      
        background: #0099FF;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;        
    }

   

#ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

#ads .card-image-overlay {
        font-size: 20px;
        
    }


#ads .card-image-overlay span {
            display: inline-block;              
        }


#ads .ad-btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #e6de08;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #000;
        overflow: hidden;        
        position: relative;
        background-color: #e6de08;
    }

#ads .ad-btn:hover {
            background-color: #e6de08;
            color: #1e1717;
            border: 2px solid #e6de08;
            background: transparent;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
        }

#ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }

/* Mon vehicule page */

.mon_vehicule_page {
	width : 100%;
	display: flex;
	justify-content: center;
	background-color: rgb(230, 230, 230,0.4);
}

.mon_vehicule_page a{
	display: flex;
	height: 50px;
	line-height:  50px;
	justify-content: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 250px;
	padding: 5 20px;
	background-color: #161616;
	color: #fff;
	font-size: 1.2 em;
	font-weight: bold;
	margin: 0 10px;
}

.mon_vehicule_page a:hover{
	text-decoration: none;
	list-style: none;
	background-color: rgb(22, 22, 22, 0.7);
	color: #fff;
} 

/* CONTENU ACCUEIL */

.carousel {
	position: absolute;
}

.img_carousel_index {
	width: 100%;
}

.carousel-caption {
	background-color: rgb(0, 0, 0, 0.5);
	border-radius: 3px;
	margin-bottom: 21%;
}

.carousel-caption p {
	margin-top: 2%;
	text-shadow: 1px 1px 20px #000000;
	font-size: 20px;
}

.index-content {
	margin: 10% 0 10% 0;
}

/*               A PROPOS                */

div.about {
	width: 100%;
	display: flex;
	flex-flow: column;
	align-content: space-around;
}

div.about-banner {
	display: flex;
	justify-content: center;
}

div.about-section1 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-top: 50px;
}

div.aboutsection1-text {
	width: 50%;
	display: flex;
	justify-content: center;
	flex-flow: column;
}

div.about-section2 {
	margin: 100px 50px;
	text-align: center;
}

div.about-section2 img {
	margin: 50px 0;
}

div.about-section2 h6 {
	margin-bottom: 30px;
}





/* --------------- Vehicule page ----------------- */

.vehicule_page {
	margin-top: 100px;
	width: 100%;
	height : auto;
	background-color: rgb(230, 230, 230, 0.2);
}

.vehicule-block {
	display: inline-block;
	padding: 20px;
	margin-bottom: 100px;
	width: calc(100% / 3 - 20px);
}

.vehicule-block img {
	width: 100%;
}

.vehicule-block div {
	display: flex;
}

.vehicule-block label:not(.prix_label) {
	background-color: #2d3436;
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: calc(50% - 5px );
	align-self: start;
	margin: 0 5px 0 0;
}

.vehicule-block span:not(.prix_span) {
	margin : 0 0 0 5px;
	text-align: center;
	width: calc(50% - 5px);
	align-self: flex-end;
}

.vehicule-block .reserver a{
	margin-top: 5px;
	display: block;
	width: 100%;
	text-align: center;
	line-height: 50px;
	height: 50px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: rgb(0, 51, 109);
	border-bottom: 3px solid black;
	color: #fff;
}

.vehicule-block .reserver a:hover{
	background-color: rgb(0, 51, 109,0.7);
	border-bottom: 3px solid #fff;
	transition: 0.3s;
}

.vehicule-block .modifier a{
	margin-top: 5px;
	display: block;
	width: 100%;
	text-align: center;
	line-height: 50px;
	height: 50px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: rgb(230, 24, 21);
	border-bottom: 3px solid black;
	color: #fff;
}

.vehicule-block .modifier a:hover{
	background-color: rgb(230, 24, 21);
	border-bottom: 3px solid #fff;
	transition: 0.3s;
}

.vehicule_prix{
	margin: 5px 0 0 0;
	width: 100%;
	height: 40px;
	line-height: 50px;
	background-color: rgb(29, 196, 79);
}

.vehicule_prix label{
	background-color: rgb(29, 196, 79);
	color: #fff;
	font-size: 1.2rem;
	font-weight: bold;
	align-self: start;
	width: 80px;
	height: 40px;
	line-height: 40px;
	padding: 0 5px;
}

.vehicule_prix span {
	color: #fff;
	font-size: 1.2rem;
	font-weight: bold;
	position: relative;
	margin: auto;
	right: 25px;
	width: 50px;
	height: 40px;
	line-height: 40px;
	padding: 0 5px;
}

.vehicule_header h3 {
	text-align: center;
}

/* --------------- connexion ----------------- */

.background-connexion {
	background-image: url('../img/connexion-background.jpg');
	height: calc(100vh - 80px);
	background-size: cover;
	width: 100%;
}

.connexion {
	text-align: center;
	display: block;
	padding: 50px 50px 20px 50px;
	border-radius: 5px;
	background-color: #2d3436;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.connexion .element_connexion {
	display: flex;
	justify-content: space-between;
	margin: 5px 5px;
}

.element_connexion input {
	border:none;
	border-radius: 2px;
}

.connexion label {
	color: #fff;
	margin: 5px 20px;
}

.connexion input[type=submit] {
	width: 100%;
	margin-top: 20px;
	height: 40px;
}

.connexion input[type=submit]:hover {
	background-color: #E6E6E6;
}

.connexion h3 {
	color : #fff;
	text-transform: uppercase;
}

/* --------------- INSCRIPTION ----------------- */

.background-inscription {
	background-image: url('../img/connexion-background.jpg');
	height: calc(100vh - 80px);
	background-size: cover;
	width: 100%;
}

.header-inscription {
	margin-top: 40px;
	background-color: #2d3436;
	position: absolute;
	background-color: #2d3436;
	top: 50%;
	left: 50%;
	width: 80%;
	transform: translate(-50%, -50%);
}

.inscription {
	text-align: center;
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
}

.inscription-block {
	align-self: center;
	padding: 50px 50px 20px 50px;
}

.inscription .element_inscription {
	display: flex;
	justify-content: space-between;
	margin: 5px 5px;
}

.element_inscription input {
	border:none;
	border-radius: 2px;
}

.inscription label {
	color: #fff;
	margin: 5px 20px;
}

.inscription input[type=submit] {
	width: 100%;
	margin-top: 20px;
	height: 40px;
}

.inscription input[type=submit]:hover {
	background-color: #E6E6E6;
}

.inscription h3 {
	color : #fff;
	text-transform: uppercase;
}



/* --------------- CONTACT ----------------- */


.contact-info {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.sub-block-contact-info {
	padding: 50px;
}

.googlemap_contact {
	padding : 50px;
}

.form_contact {
	margin-top: 100px;
	width: 100%;
	background-color: rgb(45 , 52 , 54);
	background-size: 100%;
	height: 100%;
}

.form_contact h3 {
	color: #ffffff;
}

.form_contact .separator {
	background-color: #ffffff;
	width: 33%;
	border-radius: 10px;
	margin-bottom: 5%;
}

.block-contact {
	display: flex;
	justify-content: space-between;
}

.test {
	width: 100%;
	justify-content: flex-end;
	padding-bottom: 5px;
}

.test2 {
	color: #ffffff;
	width: 100%;
	padding-bottom: 5px;
}

form h3 {
	margin-top: 3%;
	position: relative;
	bottom : 50px;
	text-transform: uppercase;
	color: #000000;
	font-weight: bolder;
	text-align: center;
}

.form_contact {
	margin-top: 0;
	padding: 100px 0 70px 0;
}

.form_contact div {
	margin: 10px 30px;
}

.form_contact label {
	color: #ffffff;
}

.form_contact i {
	color:#ffffff;
}

.form_contact input {
	width: 100%;
	border: none;
	border-radius: 2px;
	height: 40px;
}


.form_contact textarea {
	width: 100%;
	min-height: 100px;
}

.test2-sub-block i {
	color: #ffffff;
}

.test2-sub-block label {
	color: #ffffff;
}

.submit_form_contact  input {
	border-radius: 3px;
	color: #ffffff;
	height: 50px;
	background-color: #2e86de; 
	margin-top: 15px;
	width: 50%;
	float: right;
}

.submit_form_contact input:hover {
	background-color: #54a0ff;
}

.objet_form_contact i {
	color: #ffffff;
}
.objet_form_contact label {
	color: #ffffff;
}

/* --------------- ADMIN ----------------- */

.block-panel_admin {
	padding: 30px 20px;
	position: relative;
}

.block-panel_admin h3 {
	text-align: center;
	margin-bottom: 50px;
}

.block-panel_admin label {
	margin-bottom: 50px;
}

.ajout_vehicule_type select {
	margin-left: 5px;
}

.form-panel_admin div:not(.btn){
	display: flex;
	justify-content: space-between;
	padding: 0 50px;
}

.form-panel_admin label {
	position: relative;
	top: 10px;
}

.form-panel_admin input {
	width: 300px;
	height: 40px;
	margin-bottom: 10px;
}

.form-panel_admin textarea {
	width: 300px;
	height: 120px;
	margin-bottom: 10px;
}

.form-panel_admin select {
	width: 300px;
	height: 40px;
	margin-bottom: 10px;
}

.form-panel_admin .btn {
	display: flex;
	justify-content: center;
}

.form-panel_admin .btn-delete input{
	padding: 10px 50px;
	width: 300px;
	border: none;
	height: 40px;
	border-radius: 3px;
	color: #fff;
	background-color: #FF1B17;
}

.form-panel_admin .btn-delete input:hover {
	background-color: #E61815;
}

.form-panel_admin .btn-update input{
	padding: 10px 50px;
	width: 300px;
	border: none;
	height: 40px;
	border-radius: 3px;
	color: #fff;
	background-color: rgb(6, 143, 70);
}

.form-panel_admin .btn-update input:hover {
	background-color: rgb(6, 143, 70, 0.7);
}


/* -- modifier vehicule -- */

.modif_vehicule_immat {
	padding: 50px;
	display: flex;
	justify-content: center;
}

/* --------------- GESTION DEVIS ----------------- */

.header_gestiondevis {
	height: auto;
	width: 100%;
	margin: 100px 0 0 0;
	padding: 100px 25px;
	background-color: rgba(230, 230, 230, 0.2);
}

.header_gestiondevis h2 {
	margin-bottom: 50px;
	text-align: center;
}

.header_gestiondevis div {
	margin: auto;
	display: flex;
	justify-content: space-between;
	width: 600px;
	padding: 10px 25px 0 25px;
}

.header_gestiondevis label {
	align-self: center;
	padding: 10px;
	margin-bottom: 0;
}

.header_gestiondevis select {
	cursor: pointer;
	background-color: #161616;
	color :#fff;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px;
	border: none;
	width: 300px;
}

.header_gestiondevis select:hover {
	background-color: unset !important;
	color: #161616;
}

.header_gestiondevis input {
	margin: auto;
	width: 100%;
	border: none;
	color: #fff;
	padding: 10px;
	font-weight: bold;
	background-color: #3DC97F;
}

.header_gestiondevis input:hover {
	background-color: rgb(61, 201, 127, 0.8);
}

.gestiondevis:not(h2) {
	width: 100%;
	margin: 100px 0 0 0;
	padding: 100px 25px;
	background-color: rgba(230, 230, 230, 0.2);
}

.gestiondevis-block {
	display: inline-grid;
	width: calc(100% / 2 - 3px);
}

.devis-btn {
	width: 100%;
	display: inline-grid;
	text-align: center;
	margin-top: 20px;
}

.devis-btn input {
	border:none;
	padding: 20px 0;
}
.devis-btn input:hover {
	background-color: #161616;
	color: #fff;
}

.gestiondevis select {
	cursor: pointer;
	background-color: #161616;
	color :#fff;
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px;
	border: none;
}

.gestiondevis select:hover {
	background-color: unset !important;
	color: #161616;
}

.gestiondevis h2 {
	text-align: center;
	margin-bottom: 50px;
	width: 100%;
	align-self: center;
}
/* -------------- FOOTER ----------------- */

#footer {
	top: 100%;  
	background-color: #2787CC;
	display: inline-block;
	width: 100%;
	color: #ffffff;
	margin-top: 5%;
	text-align: center;
	padding-top: 10px;
}

#footer p {
	height: 20px;
	line-height: 20px;
}

/* -------------- RESA PAGE ----------------- */

.gestionresa_page {
	margin-top: 100px;
	padding: 100px 30px;
	width: 100%;
	text-align: center;
	background-color: rgb(230, 230, 230, 0.4);
}

.gestionresa_page h3 {

}

.gestionresa-header {
	padding: 50px;
	width: 80%;
	margin: auto;
}

.gestionresa-header .modele {
	width: 400px;
	text-transform: uppercase;
	text-align: center;
	padding: 0 10px 20px 10px;
}

.gestionresa-header .modele label {
	width: 150px;
	color: green;
	font-weight: bold;
}

.gestionresa-header .modele input {
	width: 250px;
}

.gestionresa-header img {
	margin-bottom: 20px;
	width: 400px;
}

.gestionresa-header div {
	margin: auto;
	width: 400px;
}

.gestionresa-header label {
	text-align: left;
	width: 100px;
}

.gestionresa-header input {
	text-align: center;
	width: 280px;
}

.gestionresa-header input[type='submit'] {
	margin-top: 20px;
	height: 50px;
	line-height: 50px;
	border: none;
	color: #fff;
	background-color: #161616;
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: bold;
	width: 400px;
}

.gestionresa-header input[type='submit']:hover {
	background-color: rgb(22, 22, 22, 0.7);
}

/* -------------- List Clients ----------------- */
  
  table {
	border-spacing: 1;
	border-collapse: collapse;
	background: white;
	margin: 100px 0;
	overflow: hidden;
	width: 100%;
	position: relative;
  }
  table * {
	position: relative;
  }
  table td, table th {
	padding-left: 8px;
  }
  table thead tr {
	height: 60px;
	background: #444;
  }
  table tbody tr {
	height: 50px;
  }
  table tbody tr:last-child {
	border: 0;
  }
  table td, table th {
	text-align: left;
  }
  table td.l, table th.l {
	text-align: right;
  }
  table td.c, table th.c {
	text-align: center;
  }
  table td.r, table th.r {
	text-align: center;
  }
  
  
  .table100-head th{
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
	line-height: 1.2;
	font-weight: unset;
  }
  
  tbody tr:nth-child(even) {
	background-color: #f5f5f5;
  }
  
  tbody tr {
	font-family: OpenSans-Regular;
	font-size: 15px;
	color: #808080;
	line-height: 1.2;
	font-weight: unset;
  }
  
  tbody tr:hover {
	color: #555555;
	background-color: #f5f5f5;
	cursor: pointer;
  }

  tr th {
	  display: table-cell;
	  text-align: center;
  }

  tr td {
	  text-align: center;
  }

  tr td a {
	width: 100%;
	display: block;
    height: 50px;
    line-height: 50px;
}

  

  
  
  @media screen and (max-width: 992px) {
	table {
	  display: block;
	}
	table > *, table tr, table td, table th {
	  display: block;
	}
	table thead {
	  display: none;
	}
	table tbody tr {
	  height: auto;
	  padding: 37px 0;
	}
	table tbody tr td {
	  padding-left: 40% !important;
	  margin-bottom: 24px;
	}
	table tbody tr td:last-child {
	  margin-bottom: 0;
	}
	table tbody tr td:before {
	  font-family: OpenSans-Regular;
	  font-size: 14px;
	  color: #999999;
	  line-height: 1.2;
	  font-weight: unset;
	  position: absolute;
	  width: 40%;
	  left: 30px;
	  top: 0;
	}
  
	tbody tr {
	  font-size: 14px;
	}
  }
